﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (false)
{ 
    <script src="~/Scripts/JavascriptControllers.js"></script>
}

<h2>Ajax Enabled Text Capitalizer</h2>
<input type="text" data-bind="value: textToCapitalize" /> 
<input type="button" value="CAPITALIZE" data-bind="click: capitalizeText" />

@section scripts
{
    <script type="text/javascript">
        (function (HomeViewModel, undefined) {
            HomeViewModel.textToCapitalize = ko.observable("Some Text");

            HomeViewModel.capitalizeText = function () {
                var json = ko.toJSON({ text : HomeViewModel.textToCapitalize});
                Controllers.Home.CapitalizeTextPost(json,
                    function (data) {
                        HomeViewModel.textToCapitalize(data);
                    });
            };

        })(window.HomeViewModel = window.HomeViewModel || {});

        ko.applyBindings(HomeViewModel);
    </script>
}